@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');

.header {
  width: 100%;
  padding: 12px;
  font-family: 'Playfair Display SC', serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 54px;
  text-align: center;
}

.main {
  padding: 24px;
}
